@import 'materialize';


body {
  font-family: "Roboto", verdana, tahoma;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding: 3em;
}


.fabStyle {
  position: fixed;
  right: 50px;
  bottom: 50px;
}
