// MAIN PALETTE
// https://codepen.io/icebob/pen/OPrXJq

$base:#4d0cb7;
$lighter1: lighten(adjust-hue($base, 5), 10%);
$lighter2: lighten(adjust-hue($base, 10), 20%);
$darker1: darken(adjust-hue($base, -5), 10%);
$darker2: darken(adjust-hue($base, -10), 20%);

$social-networks-fb:          #598ec2; //snwk fb
$social-networks-tw:          #00aeef; //snwk tw
$social-networks-ig:          #ff69a1; //snwk ig
$social-networks-yt:          #ff6564; //snwk yt
$social-networks-li:          #007cb7; //snwk li
