@import "../../styles/vars";

home {
  .loader{
    height: 18em;

    // /////////////////////////////////////
  }
  .content{
    padding-top: 3em;
    h1 {
      font-size: .8em;
    }
    .cards {
      lost-utility: clearfix;
      home-card-dashboard {
        lost-column: 1/4;
      }
    }
    .sub-title {
      color: $base;
      font-size: 1.3em;
      padding: 40px 0 20px 0;
      font-weight: 600;
      margin-bottom: 2em;
      lost-utility: clearfix;
      .left {
        lost-column: 1/2;
      }
      .right {
        lost-column: 1/2;
        text-align: right;
      }
    }
  }
}
